<section id="partners" class="container">
  <div class="">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Us</h2>
        <hr class="primary">
      </div>
    </div>

    <div class="large_text" style="overflow: hidden;">

      <p>Sehatvan is a <b>action-research space</b> for Forest Therapy. We invite people to stay and work on their
                    <a href="#top_goals"><b>health and fitness goals</b></a>. People, especially <b>youth</b>, also join to learn and live amidst
                    nature. Special workshops and gatherings are also
                    organised periodically.
                </p>
                               <strong>Research Focus:</strong>
                <ul>
                <li>Epigenetics And Gene Switching</li>
                <li>Autophagy</li>
                <li>Circadian Rhythm</li>
                <li>Diseases And Biological Age Reversal</li>
            </ul> 
            <img src="{{root}}assets/img/s/ft1.png" class=" rounded wow fadeInRight float-md-right mb-2 mx-1"
            style="max-width: 100%;"> 
            <p>
              We, at Sehatvan believe in going back to simpler times of living. Where we can
              experience the therapeutic powers of the forest by <b>reconnecting</b> with the earth, by
              sowing seeds, by growing our own food or just by simple sitting amidst the trees and
              listening
              to bird calls.
          </p>
          <p> One of the major components that is essential to health is what we feed
              the body. The <b>food</b> that we cook here is in a manner that all the nutrient value of the
              ingredients remain intact.
          </p>
          <p>
              We believe in the science
              of <b>Autophagy</b>. Depending on your health capacity and severity of your condition a fasting
              (Autophagy)
              regime is incorporated. Fasting helps in removing the toxic elements from your body and
              ensures you have a renewed system that is capable
              of fighting the diseases more efficiently. Fasting also brings about a <b>mental clarity</b> as
              your body begins running on ketones to dig deep and resolve issues from within.
          </p>
          <p>
              All this can be experienced with a fulfillment that only <b>tranquil environments</b> provide.
              So we have built a space for you, away from the noises of the city and pollution it
              brings along.
          </p>      
           
    </div>
  </div>
</section>