<section id="partners" class="container">
  <div class="text-center ">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Calendar</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="white table-wrapper">
      <table class="alt table table-striped">

          <thead >
              <tr>
                  <th class="darktxt">Month</th>
                  <th class="darktxt">Seats</th>
              </tr>
          </thead>

          <tbody>					
              
             
             
              <tr >
                  <td >April 2020</td>
                  <td >Closed (Covid-19) </td>
                  </tr>

                  <tr >
                      <td >May 2020</td>
                      <td > Closed (Covid-19) </a> </td>
                      </tr>

                      <tr >
                          <td >June 2020</td>
                          <td ><a class="btn-success p-1 rounded" href="book.html"> Open - mid june </a> </td>
                          </tr>

                          <tr >
                              <td >July 2020</td>
                              <td ><a class="btn-success p-1 rounded" href="book.html"> Full </a> </td>
                              </tr>
                              <tr >
                                <tr >
                                  <td >August 2020</td>
                                  <td ><a class="btn-success p-1 rounded" href="book.html"> Closed (Monsoon) </a> </td>
                                  </tr>
                                <td >September 2020</td>
                                <td ><a class="btn-success p-1 rounded" href="book.html"> Open </a> </td>
                                </tr>
                                <tr >
                                  <td >July 2020</td>
                                  <td ><a class="btn-success p-1 rounded" href="book.html"> Open </a> </td>
                                  </tr>
                                  <tr >
                                    <td >July 2020</td>
                                    <td ><a class="btn-success p-1 rounded" href="book.html"> Open </a> </td>
                                    </tr>
                                    <tr >
                                      <td >July 2020</td>
                                      <td ><a class="btn-success p-1 rounded" href="book.html"> Open </a> </td>
                                      </tr>
  </tbody>
      </table>
          

  </div>
  </div>
</section>