<section class="footer pt-0 pb-2 ">
    <div class="container mx-auto">
                    <button type="button" onclick="location.href='book.html'" class="btn btn-success ">Book
                Now</button>
            <button type="button" onclick="location.href='faq.html'" class="btn btn-info ml-2">Read
                FAQs</button>
            <button type="button" onclick="location.href='tel:+918602525887'"
                class="btn btn-info ml-2 ">Call</button>           
        
    </div>
</section>
    