<section class="footer pt-0 pb-2 ">
    <div class="container mx-auto">
                    <!--button type="button" onclick="location.href='book.html'" class="btn btn-success ">Online Module</button>
            <button type="button" onclick="location.href='faq.html'" class="btn btn-info ml-2">Forest Module</button-->
            
        
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Book Now
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="index.html#forest">Forest Module</a>
                    
                    <a class="dropdown-item" href="online.html">Online Module</a>
                  </div>
                </div>
                <button type="button" onclick="location.href='tel:+918602525887'"
                class="btn btn-info ml-2 ">Call</button>          
                
    </div>
</section>
    