<section id="toc">
  <div class="container mb-4 border py-3">
    <div class="text-center">
      <h2 class="section-heading">Online Module</h2>
      <hr />
      <p class="text-center">6-week personalised fitness-at-home module facilitated by Dr. Gupta & Sehatvan Team.</p>
      <a href="online.html" class="btn btn-success">I'm interested to join!</a>
      <br><br>
    </div>
  </div>
 
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading">Forest Fitness Module <br> <strong>At Sehatvan</strong></h2>
      <hr />
    </div>
  </div>

  <div class="container">
    <p class="text-center w-100">Due to COVID-19, Forest Modules are closed till May End. Ideally book atleast one month in advance.
    </p>
    <div class="equal-heights w-middle row">
      
      <div class="col-md-6 bg-success">
        <div class="box">
          <h2 class="text-center text-white"><b>Forest Fitness In Life</b></h2>
          <a href="fitness.html" class="btn btn-light ">Teenage Health</a>
          <a href="fitness.html" class="btn btn-light ">Vitamin D and B12 Boosting  </a>
          <a href="fitness.html" class="btn btn-light ">Mental and Emotional Fitness </a>
          <a href="fitness.html" class="btn btn-light ">Digital Detox and Screen De-addiction </a>
          
          <a href="fitness.html" class="btn btn-light ">Mental Strength and Physical Stamina Building </a>
          <a href="fitness.html" class="btn btn-light ">Longevity & Happiness </a>
        </div>
      </div>
      <div class="col-md-6 bg-primary">
        <div class="box">
          <h2 class="text-center"><b>Forest Fitness In Diseases</b> </h2>
          
            <a href="health.html" class="btn btn-light">Diabetes, Thyroidism & Obesity  </a>
            <a href="health.html" class="btn btn-light ">Cardiovascular Health  </a>
            <a href="health.html" class="btn btn-light ">Autoimmune Health </a>
            <a href="health.html" class="btn btn-light ">PCOD & Women’s Health  </a>
            <a href="health.html" class="btn btn-light ">Multiple Issues</a>
          
        </div>
      </div>
      <!-- <div class="col-md-4 tocbg"></div> -->
      
    </div>
  </div>
</section>
<div class="clearfix"></div>