<section id="toc">
  <div class="container mb-4 border py-3">
    <div class="text-center">
      <h2 class="section-heading">Online Module</h2>
      <hr />
      <p class="text-center">6-week personalised fitness-at-home module facilitated by Dr. Gupta & Sehatvan Team.</p>
      <a href="online.html" class="btn btn-success">I'm interested to join!</a>
      <br><br>
    </div>
  </div>
 
  <div id="forest" class="container">
    <div class="text-center">
      <h2 class="section-heading">Forest Fitness Module <br> <strong>At Sehatvan</strong></h2>
      <hr />
    </div>
  </div>

  <div class="container">
    <p class="text-center w-100">Due to COVID-19, Forest Modules are closed till May End. Ideally book atleast one month in advance.
    </p>
    <div class="equal-heights w-middle row">
      
      <div class="col-md-6 bg-success">
        <div class="box">
          <h2 class="text-center text-white"><b>Forest Fitness In Life</b></h2>
          {{#each fitness as |category|}}
          <a href="fitness.html#{{category.tab}}" class="btn btn-light ">{{category.name}}</a>
  {{/each}}
        </div>
      </div>
      <div class="col-md-6 bg-primary">
        <div class="box">
          <h2 class="text-center"><b>Forest Fitness In Diseases</b> </h2>
          {{#each health as |category|}}
          <a href="health.html#{{category.tab}}" class="btn btn-light ">{{category.name}}</a>
  {{/each}}
        </div>
      </div>
     
      <!-- <div class="col-md-4 tocbg"></div> -->
      
    </div>
  </div>
</section>
<div class="clearfix"></div>