<section id="toc">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading">Choose Your Module At Sehatvan</h2>
      <hr />
    </div>
  </div>

  <div class="container">
    <p class="text-center w-100">Due to COVID-19, Forest Modules are closed till May End. Ideally book atleast one month in advance.
    </p>
    <div class="equal-heights w-middle row">
      <div class="col-md-6 bg-primary">
        <div class="box">
          <h2 class="text-center"><b>Forest Therapy Modules</b> </h2>
          
            <a href="therapy.html" class="btn btn-light">Diabetes, Thyroidism & Obesity  </a>
            <a href="therapy.html" class="btn btn-light ">Cardiovascular Health  </a>
            <a href="therapy.html" class="btn btn-light ">Autoimmune Health </a>
            <a href="therapy.html" class="btn btn-light ">PCOD & Women’s Health  </a>
            <a href="therapy.html" class="btn btn-light ">Multiple Issues</a>
          
        </div>
      </div>
      <!-- <div class="col-md-4 tocbg"></div> -->
      <div class="col-md-6 bg-success">
        <div class="box">
          <h2 class="text-center text-white"><b>Forest Fitness Modules</b></h2>
          <a href="fitness.html" class="btn btn-light ">Teenage Health</a>
          <a href="fitness.html" class="btn btn-light ">Vitamin D and B12 Boosting  </a>
          <a href="fitness.html" class="btn btn-light ">Mental and Emotional Fitness </a>
          <a href="fitness.html" class="btn btn-light ">Digital Detox and Screen De-addiction </a>
          
          <a href="fitness.html" class="btn btn-light ">Mental Strength and Physical Stamina Building </a>
          <a href="fitness.html" class="btn btn-light ">Longevity & Happiness </a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>