<nav id="mainNav" class="navbar navbar-expand-md navbar-default fixed-top navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html#page-top"><img src="{{root}}assets/img/s/logo.png" alt="logoNavGurukul" class="logoheader"></a>
    <div class="nav-item dropdown btn-lang">
      <a class="nav-link dropdown-toggle text-primary" id="selected_option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
      <div class="dropdown-menu" aria-labelledby="dropdown09">
        <a class="dropdown-item" id="other_option" onclick="changeLang()"></a>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse p-4 p-md-0" id="navbarCollapse">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav nav">
        <!--li class="nav-item">
          <a class="nav-link" href="health.html">FITNESS IN DISEASES
                        <span class="sr-only">(current)</span>
                    </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="fitness.html">FITNESS IN LIFE
                        <span class="sr-only">(current)</span>
                    </a>
        </li-->
        <!--li class="nav-item">
          <div class="btn-group btn-outline-success dropdown">
            <a class="nav-link text-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose Your Module
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="index.html#forest">Forest Module</a>
              
              <a class="dropdown-item" href="online.html">Online Module</a>
            </div>
          </div>
        </li--> 

        <li class="nav-item">
          <a class="nav-link" href="index.html#forest">FOREST MODULE
                        <span class="sr-only">(current)</span>
                    </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="online.html">ONLINE MODULE
                        <span class="sr-only">(current)</span>
                    </a>
        </li-->
        <li class="nav-item">
          <a class="nav-link" href="faq.html">FAQ
                        <span class="sr-only">(current)</span>
                    </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog.sehatvan.in">BLOG
                        <span class="sr-only">(current)</span>
                    </a>
        </li>
        <!--li class="nav-item">
          <a class="nav-link" href="book.html">BOOK NOW
                        <span class="sr-only">(current)</span>
                    </a>
        </li>
        	
        
        <!-- <li class="nav-item">
                    <a target="_blank"  class="nav-link" rel="nofollow" href="https://angel.co/navgurukul-foundation/jobs">JOIN US
                    </a>
                </li> -->
      </ul>
      <!-- <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
    </div>
  </div>
</nav>