<section id="top_goals" class="container">
  <div class=" ">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Top Goals <br> Of 
          Participants</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="large_text" style="overflow: hidden;">
      <ul>
        <li>Swift Energy & Lasting Stamina</li>
        <li>Reduce Body Age</li>
        <li>Get BMI under 23</li>
        <li>Reverse Diabetes, Hypothyroidism and Hypertension </li>
        <li>Body-mind detox</li>
        <li>Auto-immune disorders - PCOD, Arthritis, Allergies etc.</li>
      
            <li>Be Free from addictions</li>
            <li>Rebuild healthy sleep</li>
            <li>Stengthen and Calming the Mind</li>
            <li>Reducing Stress</li>
            <li>Gain knowledge, skills and attitude for healthy life</li>
            <li>Become medicine free</li>

            <li>Build super-healthy stamina</li>
    </ul>
    </div>
  </div>
</section>